DOCKER_PORT_BINDING=127.0.0.1:0:8080
HTTP_PORT=8080
APP_ENV=prod
#API_PREFIX=/api
#APP_ERROR_MODE=json
ENABLE_GZIP=false
#CSRF_TRUSTED_ORIGINS=https://foo.example.com,https://bar.example.com
#SMTP_HOST=smtp.example.com
#SMTP_PORT=587
#SMTP_USER=user@example.com
#SMTP_PASS=password
#SMTP_FROM=noreply@example.com
SESSION_KEY=MyVerySecretCode1
TZ="Europe/Warsaw"
JWT_SECRET=super_Secret_Jwt1
METRICS_SECRET=super_Metrics_token1
METRICS_ENABLED=true
